/*----reset----*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
 	padding: 0;
 	margin: 0;
 	font-size: 100%;
 	font-weight: normal;
 	font-family: Georgia, "Times New Roman", Times, serif;
}
a{
    text-decoration: none;
    outline: none;
}
li{
    list-style: none;
}
button,input{
    outline: none;
}
/*----reset----*/

body{
	background-color: #ddd;
}
.main{
	width: 1000px;
	height: 1200px;
	margin: 10px auto;
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.35);
	overflow: hidden;
}
/*head*/
.main_head img{
	width: 100%;
	height: 300px;
}
.main_head .main_h{
	position: absolute;
	top: 10px;
	right: 15px;
}
.main_head .main_h h1{
	font-size: 50px;
	letter-spacing: 1px;
	/*color: #85A110;*/
	color: #1c8b2a;
	text-transform: uppercase;
}
.main_head .main_h h2{
	text-align: right;
	font-size: 30px;
	color: #373737;
	padding-top: 5px;
	font-weight: bold;
}

/*main_content*/
.main_content{
	width: 100%;
}
/*leftbar*/
.main_content .left_bar{
	float: left;
	width: 275px;
}
.main_content .left_bar ul{
	/*padding: 25px 0;*/
	/*background-color: #cbb3b4;*/
	background-color: #a8d46f;
	position: relative;
}
.main_content .left_bar ul img.top_p{
	position: absolute;
	top: 0;
	right: -5px;
	width: 70px;
	height: auto;
}
.main_content .left_bar ul li{
	line-height: 37px;
	text-align: center;
	font-size: 17px;
	border-right: 2px solid #44c662;
}
.main_content .left_bar ul li.first{
	height: 30px;
}
.main_content .left_bar ul li a{
	cursor: pointer;
	color: #373830;
}
.main_content .left_bar ul li a:hover{
	color: #fff;
	text-decoration: underline;
}
.main_content .left_bar ul li.active{
	background-color: #fff;
	border: 2px solid #44c662;
	border-right: 2px solid #fff;
	border-left: none;
}
.main_content .left_bar ul li.active a{
	color: #44c662;
	font-weight: bold;
}
.main_content .left_bar ul li.active a:hover{
	color: #44c662;
	text-decoration: none;
}
.main_content .left_bar ul li.last{
	padding-top: 10px;
	border-top: 1px solid #aaa;
	padding-bottom: 25px;
}
.main_content .left_bar ul li.last span{
	color: #22868c;
	font-size: 18px;
	font-weight: bold;
}
.main_content .left_bar ul li.last a{
	display: inline-block;
	width:100%;
	text-align: center;
}
.main_content .left_bar ul li.last img{
	margin-top: 7px;
	width: 115px;
	height: auto;
}
/*rightcontent*/
.main_content .right_content{
	float: right;
	width: 725px;
	height: 900px;
}
.main_content .right_content section{
	padding: 20px;
	height: 812px;
	overflow-y: auto;
}
/*index*/
.main_content .right_content h1{
	text-align: center;
	font-size: 28px;
	padding-bottom: 15px;
	/*color: #373830;*/
	color: #44c662;
	font-weight: bold;
}
.main_content .right_content p{
	line-height: 25px;
	margin: 10px 10px;
	margin-top: 0;
	font-size: 17px;
}
.main_content .right_content p.p_indent{
	text-indent: 1.5em;
}
.main_content .right_content h2{
	margin-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #22868c;
	border-bottom: 2px solid #22868c;
}
.main_content .right_content .sub_content ul{
	padding: 20px;
}
.main_content .right_content .sub_content ul li{
	list-style-type: circle;
	padding: 10px;
	font-size: 17px;
}
.main_content .right_content .sub_content ul li a,a.n_sub,.main_content .right_content .submission a{
	font-weight: bold;
	color: #85a110;
	cursor: pointer;
}
.main_content .right_content .sub_content ul li a:hover,a.n_sub:hover,.main_content .right_content .submission a:hover{
	text-decoration: underline;
}
.main_content .right_content .sub_content p:last-child{
	color: #000;
	font-weight: bold;
	margin-left: 0px;
}
/*registration*/
.main_content .right_content .registration a{
	color: #85a110;
	margin-left: 5px;
	font-weight: bold;
}
.main_content .right_content .registration a:hover{
	text-decoration: underline;
}
/*dates*/
.main_content .right_content  table{
	margin: 20px;
}
.main_content .right_content  td{
	padding: 5px 10px;
}
.main_content .right_content .dates td{
	font-size: 18px;
}
.main_content .right_content .circle{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #a8d46f;
}

/*technical*/
/*instructions*/
/*o_committee*/
.main_content .right_content .com_block h3,.main_content .right_content .visa h3{
	margin-top: 20px;
	padding-bottom: 5px;
	font-size: 18px;
	color: #273830;
	font-weight: bold;
}
.main_content .right_content .com_block p{
	margin-left: 10px;
}
/*p_committee*/
/*paper*/
.main_content .right_content .paper ul,.main_content .right_content .past ul,.main_content .right_content .visa ul,.main_content .right_content .workshops ul{
	margin-left: 30px;
}
.main_content .right_content .paper li,.main_content .right_content .past li,.main_content .right_content .visa li,.main_content .right_content .workshops li{
	list-style-type: disc;
	line-height: 25px;
}
.main_content .right_content .paper .cfp_pdf a{
	text-decoration: none;
	color: #85A110;
}
.main_content .right_content .paper .cfp_pdf a:hover{
	text-decoration: underline;
}
/*workshops*/
a.work_mail{
	color: brown;
}
a.work_mail:hover{
	text-decoration: underline;
}
/*poster*/
/*demo*/
/*grant*/
/*venue*/
/*past*/
.main_content .right_content .past li{
	color: #474747;
	margin-bottom: 10px;
	line-height: 20px;
	font-weight: bold;
}
.main_content .right_content .past li span{
	display: block;
	color: #1a1a1a;
	font-weight: normal;
}
.main_content .right_content .past li a,.main_content .right_content .visa li a{
	text-decoration: none;
	color: #85A110;
	font-weight: bold;
}
.main_content .right_content .past li a:hover,.main_content .right_content .visa li a:hover{
	text-decoration: underline;
}
/*visa*/
.main_content .right_content .visa li a{
	font-weight: normal;
	margin-left: 5px;
}
/*foot*/
.main_content .right_content div.foot{
	width: 675px;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 10px;
	text-align: center;
	overflow-y: none;
}
.main_content .right_content .foot p{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #000;	
}